<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta charset="ISO-8859-1">
    <title>学生管理系统</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>

<!-- 插入公共头部 -->
<div class="container my-2" th:insert="header :: commonHeader"></div>

<div class="container my-2">
    <h1>学生管理系统</h1>
    <h1  class="text-primary"></h1>

    <a th:href="@{/showStuForm}" class="btn btn-primary btn-sm mb-3"> 新增 </a>

    <nav class="navbar navbar-light bg-light">
        <form id="query-form" action="/query" method="get">
            <h6 class="text-secondary"></h6>
            <input type="text" id="name-input" name="inpname" placeholder="姓名">
            <button type="button" class="btn btn-info btn-sm"onclick="queryStu()">搜索</button>
        </form>

        <hr>

        <a th:href="@{/}"> 回到学生列表</a>

        <script>
            function queryStu() {
                var stuName = document.getElementById("name-input").value;
                var url = "/query" + encodeURIComponent(stuName);
                window.location.href = url;
            }
        </script>

    </nav>

    <table border="1" class="table table-striped table-responsive-md">
        <thead>
        <tr>
            <th>学号</th>
            <th>姓名</th>
            <th>性别</th>
            <th>专业</th>
            <th>查看学生成绩</th>
            <th> 操作 </th>
        </tr>
        </thead>

        <tbody>   <!-- 表格内容 -->
        <tr th:each="stu : ${listStu}">
            <!--  <td>（表格数据单元格） -->
            <td th:text="${stu.sid}"></td>
            <td th:text="${stu.name}"></td>
            <td th:text="${stu.ssex}"></td>
            <td th:text="${stu.sclass}"></td>
            <td> <a th:href="@{/showStuScore/{id}(id=${stu.sid})}" class="btn btn-success">查看学生成绩</a> </td>
            <td>
                <a th:href="@{/showStuForUpdate/{id}(id=${stu.sid})}" class="btn btn-primary">修改</a>
                <a th:href="@{/deleteStu/{id}(id=${stu.sid})}" class="btn btn-danger">删除</a>
            </td>
        </tr>
        </tbody>

    </table>

    <div th:if = "${totalPages > 1}">
        <div class = "row col-12">
            <div class = "col-3">
                学生总数: [[${totalItems}]]
            </div>
            <div class = "col-4">
                <span th:each="i: ${#numbers.sequence(1, totalPages)}">
                   <a th:if="${currentPage != i}" th:href="@{'/page/' + ${i}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">[[${i}]]</a>
                   <span th:unless="${currentPage != i}">[[${i}]]</span>  &nbsp; &nbsp;
                </span>
            </div>

            <div class = "col-2">
                第<a th:text="${currentPage}"></a>页
                /共<a th:text="${totalPages}"></a>页
            </div>

            <div class = "col-3">
                <a th:if="${currentPage > 1}" th:href="@{'/page/' + ${1}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">首页</a>
                <span th:unless="${currentPage > 1}">首页</span>

                <a th:if="${currentPage > 1}" th:href="@{'/page/' + ${currentPage - 1}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">上一页</a>
                <span th:unless="${currentPage > 1}">上一页</span>

                <a th:if="${currentPage < totalPages}" th:href="@{'/page/' + ${currentPage+1}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">下一页</a>
                <span th:unless="${currentPage < totalPages}">下一页</span>

                <a th:if="${currentPage < totalPages}" th:href="@{'/page/' + ${totalPages}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">尾页</a>
                <span th:unless="${currentPage < totalPages}">尾页</span>
            </div>
        </div>
    </div>
</div>
</body>
</html>